body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* app styles */
.App {
  padding-left: 100px;
}
nav{
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul{
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

h1.title {
  color: red;
}

.toptitle {
  text-align: center;
}
.post-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.post-item li {
  width: calc(100%/3);
  margin-bottom: 10px;
}
.post-item .post-title {
  width: 400px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-item .desc {
  margin: 20px 0;
  max-width: 400px;
}
.post-item a {
  color: #000;
  text-decoration: none;
}
.post-item a.more {
  text-decoration: underline;
}
.post-item a.more:after {
  content: '>';
}
.post-item a:hover {
  text-decoration: underline;
}
